In [1]:

# importing required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path= "/content/drive/MyDrive/Early-stage-Glaucoma-Eye-Disease-Detection/SWT-Images/G1020_Xception.csv"

In [3]:
#MIN MAX Scaling function
def min_max_scale(X):
 from sklearn.preprocessing import MinMaxScaler
 scaler = MinMaxScaler()
 X = scaler.fit_transform(X)
 return X

In [4]:
#Function for Principal component analysis
#95% of variance
def pca_analysis(X):
 from sklearn.decomposition import PCA
 pca = PCA(n_components = 0.95)
 pca.fit(X)
 X = pca.transform(X)
 return X

In [5]:
chunksize = 750
tfr = pd.read_csv(path, chunksize=chunksize, iterator=True,header= None)

In [6]:
X_array =[]
Y_array= []
Y_DF= pd.DataFrame(Y_array)
X_DF = pd.DataFrame(X_array)
X_DF

Empty DataFrame
Columns: []
Index: []

In [7]:
#Doing min_max and pca on individual chunks of the large csv files 
# and concactnating the result dataframes together
i=1
with tfr as reader:
    for chunk in reader:
        print("index_value")
        print(i)
        X = chunk.iloc[:,1:]
        X = min_max_scale(X)
        X = pca_analysis(X)
        X = pd.DataFrame(X)
        X_DF = pd.concat([X_DF,X], axis=0, ignore_index=True)
        Y = chunk.iloc[:, 0]
        Y_DF = pd.concat([Y_DF,Y], axis=0, ignore_index=True)
        i=i+1

index_value
1
index_value
2
index_value
3
index_value
4
index_value
5
index_value
6
index_value
7

In [8]:
X_DF

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
0,-1.346753,-12.549899,-8.279812,1.657790,-0.196648,2.319431,-3.524553,-3.736287,1.482802,-7.305842,...,-0.087879,-0.079758,0.434464,-0.358821,-0.336519,0.220234,0.123199,NaN,NaN,NaN
1,23.018451,17.589107,-9.374415,-8.478539,1.226216,-1.339576,-9.879388,1.349150,3.383195,-5.938835,...,0.071497,0.957601,-0.206661,-1.147195,0.047186,-1.100485,0.839252,NaN,NaN,NaN
2,11.935242,18.006562,-7.870409,-5.594052,-4.644596,-0.651135,1.945660,0.247764,9.459449,-4.494855,...,-0.474684,-0.103280,0.048792,-0.593056,1.140937,-1.105482,-1.998275,NaN,NaN,NaN
3,23.376703,18.463849,-5.669532,-7.467915,0.805156,-3.199997,-4.491398,-4.573543,6.555049,-2.047206,...,-0.950508,-0.577552,-0.042225,-0.321425,1.306694,-0.605660,-1.229756,NaN,NaN,NaN
4,0.939938,-16.510952,-5.931260,-0.271757,2.959395,-8.285288,5.951850,-2.766467,1.653500,-2.361036,...,0.430658,-0.444072,-0.145393,0.132548,0.027384,-0.302452,0.452334,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,-12.993675,-0.039392,-13.622461,-2.562501,7.021913,-3.134377,0.903762,-0.629673,1.971708,-0.707690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4580,-7.201609,-7.552301,10.457167,6.826941,-1.956305,-1.803394,-9.177537,6.103712,-0.949891,1.774301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4581,-15.198491,-5.103416,9.150247,5.351501,2.260308,2.807420,-10.291118,8.359137,1.784677,-0.723737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4582,-17.420595,-5.033359,12.951799,4.473073,-3.061505,5.568601,6.050069,-8.957129,1.937628,-3.880484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4583,-4.916818,3.448836,-8.858347,-3.214467,-1.204513,-3.502708,-3.754048,-3.104587,2.729390,0.798741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Removing extra NAN values with 0
X_DF = X_DF.fillna(0)

#Joining X and Y
X= X_DF.to_numpy()
Y= Y_DF.to_numpy()
X = np.hstack((Y,X))
df= pd.DataFrame(X)


#Converting first column to int 
#and leaving every other column to float
firstCol = list(df.columns)[0]
df[firstCol] = df[firstCol].astype(int)
df.dtypes

0        int64
1      float64
2      float64
3      float64
4      float64
        ...
308    float64
309    float64
310    float64
311    float64
312    float64
Length: 313, dtype: object

In [10]:
#Saving dataframe to csv

df.to_csv("/content/drive/MyDrive/Early-stage-Glaucoma-Eye-Disease-Detection/Pca_Features/G1020_Xception_PCA.csv", index=False, header=False)

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,303,304,305,306,307,308,309,310,311,312
0,0,-1.346753,-12.549899,-8.279812,1.657790,-0.196648,2.319431,-3.524553,-3.736287,1.482802,...,-0.087879,-0.079758,0.434464,-0.358821,-0.336519,0.220234,0.123199,0.0,0.0,0.0
1,0,23.018451,17.589107,-9.374415,-8.478539,1.226216,-1.339576,-9.879388,1.349150,3.383195,...,0.071497,0.957601,-0.206661,-1.147195,0.047186,-1.100485,0.839252,0.0,0.0,0.0
2,1,11.935242,18.006562,-7.870409,-5.594052,-4.644596,-0.651135,1.945660,0.247764,9.459449,...,-0.474684,-0.103280,0.048792,-0.593056,1.140937,-1.105482,-1.998275,0.0,0.0,0.0
3,1,23.376703,18.463849,-5.669532,-7.467915,0.805156,-3.199997,-4.491398,-4.573543,6.555049,...,-0.950508,-0.577552,-0.042225,-0.321425,1.306694,-0.605660,-1.229756,0.0,0.0,0.0
4,0,0.939938,-16.510952,-5.931260,-0.271757,2.959395,-8.285288,5.951850,-2.766467,1.653500,...,0.430658,-0.444072,-0.145393,0.132548,0.027384,-0.302452,0.452334,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,1,-12.993675,-0.039392,-13.622461,-2.562501,7.021913,-3.134377,0.903762,-0.629673,1.971708,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
4580,1,-7.201609,-7.552301,10.457167,6.826941,-1.956305,-1.803394,-9.177537,6.103712,-0.949891,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
4581,1,-15.198491,-5.103416,9.150247,5.351501,2.260308,2.807420,-10.291118,8.359137,1.784677,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
4582,1,-17.420595,-5.033359,12.951799,4.473073,-3.061505,5.568601,6.050069,-8.957129,1.937628,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
4583,0,-4.916818,3.448836,-8.858347,-3.214467,-1.204513,-3.502708,-3.754048,-3.104587,2.729390,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0